/* 很多错误重复多余代码 做完重新修改 */
header {
  height: 40px;
  position: relative;
  background-color: rgb(51, 51, 51);

  width: 100%;

}

.toubu>.zv>a:hover {
  color: white;
}


.yb>span {
  color: rgb(83, 91, 91);
  margin: 5px 2px 0px 2px;

}

.zb>span {
  color: rgb(83, 91, 91);
  margin: 5px 2px 0px 2px;
}

header a {
  color: rgb(176, 176, 176);
  text-decoration: none;
  line-height: 40px;
  font-size: 12px;
  margin-top: -100%;
  margin-left: 4px;
  position: relative;
}


main {





  /* margin-right: 146px; */



}

/* .zk {
height: calc(100% - 30px);
position: absolute;
padding: 90px;
border: 1px solid;
float: left;

}

.yk {
height: calc(100% - 30px);
float: right;
padding: 90px;
border: 1px solid;
left: calc(100% - 180px);

} */

.second {
  height: 100px;



}

/* .zb {
  float: left;

  position: relative;
} */


.yb {
  float: right;
  position: relative;
  top: -40px;
}

.toubu {


  width: 1226px;
  margin: auto;
  height: 40px;
}


.xiazai+a>img {
  position: absolute;
  width: 150px;
  height: 0px;

  box-shadow: 0 0 20px gray;
  transition: .1s;
  top: 30px;
  left: -100px;
  z-index: 9999;
  overflow: hidden;
  background-color: white;
}



.xiazai {
  padding-bottom: 20px;
  overflow: hidden;

}

.toubu img:hover {
  height: 170px;

}

.xiazai:hover+a>img {

  height: 170px;
}

.b {
  height: 0px;
  width: 56px;


}

.c {
  width: 1526px;
  margin: auto;
}

.logo {
  position: relative;
  left: 146px;
  top: 20px;
  width: 56px;
  height: 56px;

  z-index: 999;
}

.logo:active {
  width: 50px;
  height: 50px;
  z-index: 999;
}

/* .a {
  display: inline-block;
  width: 56px;
  height: 56px;

  background-image: url(http://cdn.cnbj1.fds.api.mi-img.com/mi.com-assets/shop/img/logo-mi2.png);
  background-size: 56px;
} */


.d2 {
  position: relative;

  line-height: 100px;
  z-index: 1;
  height: 100px;

}

.d2 span {
  display: inline-block;
  padding-left: 15px;
  position: relative;
  left: 380px;
}

.d2>span:hover {
  color: rgb(232, 112, 0);
  cursor: pointer;
}

.sousuo {
  position: relative;
  width: 246px;
  height: 40px;
  left: 210px;
  border: 1px solid rgb(181, 178, 178);

}

.wenhao {
  position: relative;
  left: 210px;
}

.yss {
  float: right;
}


.wenhao>.anniu {
  position: relative;
  top: 18px;
  right: 7px;
  border: 1px solid rgb(181, 178, 178);
  height: 42px;
  width: 42px;

}


.sousuo:hover,
.anniu {
  border: 1px solid black;
}



.xiala {

  position: relative;
  height: 0px;

  background-color: white;
  overflow: hidden;
  transition: .3s;
  z-index: 9;
  box-shadow: 0 10px 15px -15px rgb(0, 0, 0);


}

.xiala>div>a {
  text-decoration: none;
}

.xiala>div>a+span {
  color: red;
  border-left: 2px solid rgb(224, 224, 224);
  display: inline-block;
  height: 90px;
  top: 20px;
  position: relative;

}

.xiala>div>a>img {
  position: relative;
  width: 150px;
  left: 176px;
  top: 30px;
  margin-left: 30px;
}

.dingjia {
  display: inline;
  position: absolute;
  margin-top: 160px;
  margin-left: 63px;
}

.dingjia>span:nth-child(1) {
  left: 5px;
  position: relative;
  font-size: 12px;
  color: black;
}

.dingjia>span:nth-child(2) {
  position: relative;
  top: 15px;
  right: 48px;
  font-size: 12px;
  color: orange;

}

.d2:has(span:hover) {
  border-bottom: 1px solid gray;
}

.xiala:hover {
  height: 220px;
  border-top: 1px solid gray;
}

.d2:has(span:hover)+.xiala {
  height: 220px;


  z-index: 9;
}

.third {
  width: 1226px;
  margin: auto;
  height: 460px;

}

.daohang {
  background-color: rgb(71, 73, 73);
  position: relative;
  z-index: 3;
  width: 240px;
  height: 460px;


}

.font {
  position: relative;
  left: 20px;
  top: 10px;
}

.daohang>ul {
  list-style: none;
  position: relative;
  width: 240px;
  font-size: 14px;
  top: 15px;
  right: 40px;
  color: white;


}

.daohang>ul>li {
  padding-top: 4px;
}

.daohang>ul>li:hover {
  cursor: pointer;
}

.daohang>ul>li>.kuanshi:hover {
  cursor: default;
}

.daohang>ul>li:nth-child(n):after {
  content: ">";
  position: relative;
  left: 210px;
  top: -15px;
}

/* .daohang>ul>li:nth-child(n+4):after {
  content: ">";
  position: relative;
  left: 210px;
  top: -15px;
}

.daohang>ul>li:nth-child(4):after {
  content: ">";
  position: relative;
  left: 95px;
}

.daohang>ul>li:nth-child(9):after {
  content: ">";
  position: relative;
  left: 95px;
} */

.daohang>ul>li:nth-child(n+11):after {
  content: "";

}

.daohang>ul>li:nth-child(n):hover {
  background-color: orange;
}

.daohang>ul>li:nth-child(n+11):hover {
  background-color: rgb(255, 255, 255);
}

.kuanshi {

  display: none;
  width: 529px;
  height: 458px;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: relative;
  left: 240px;
  margin-top: -460px;
  top: 422px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgb(0 0 0 / 18%);
  border: 1px solid rgba(145, 145, 145, 0.451);

}

.kuanshi2 {

  display: none;
  width: 529px;
  height: 458px;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: relative;
  left: 240px;
  margin-top: -460px;
  top: 379.5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgb(0 0 0 / 18%);
  border: 1px solid rgba(145, 145, 145, 0.451);

}


.kuanshi>a,
.kuanshi2>a {
  text-decoration: none;
  position: relative;
  left: 20px;
  top: 15px
}

.kuanshi>a>span,
.kuanshi2>a>span {
  position: relative;
  font-size: 14px;
  top: -20px;
  color: black;
  left: 10px;
}

.kuanshi>a>span:hover,
.kuanshi2>a>span:hover {
  color: orange;

}

/* .d2:has(span:hover)+.xiala */

.daohang>ul li:hover>.kuanshi,
.daohang>ul li:hover>.kuanshi2 {
  display: grid;
}

.kuanshi:hover,
.kuanshi2:hover {
  display: grid;
}



.lunbo>a>img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;

}

.lunbowai {
  position: relative;
  height: 460px;
  width: 1226px;
  z-index: 1;

  top: -460px;
  overflow: hidden;
}

.lunbowai>input {
  display: none;
}

.label {
  position: absolute;
  white-space: nowrap;
  z-index: 9;
  margin-left: 1050px;
  margin-top: 420px;
}

.label>label {
  transition: all 1s;
  height: 7px;
  width: 7px;
  display: inline-block;
  border: 2px solid gray;
  z-index: 9;
  cursor: pointer;
  border-radius: 60px;
}

.lunbowai>input:nth-child(1):checked~.lunbo :nth-child(1),
.lunbowai>input:nth-child(2):checked~.lunbo :nth-child(2),
.lunbowai>input:nth-child(3):checked~.lunbo :nth-child(3),
.lunbowai>input:nth-child(4):checked~.lunbo :nth-child(4),
.lunbowai>input:nth-child(5):checked~.lunbo :nth-child(5) {

  opacity: 1;
}

.lunbowai>input:nth-child(1):checked~.label label:nth-child(1),
.lunbowai>input:nth-child(2):checked~.label label:nth-child(2),
.lunbowai>input:nth-child(3):checked~.label label:nth-child(3),
.lunbowai>input:nth-child(4):checked~.label label:nth-child(4) {
  background-color: rgb(18, 137, 163);
}